
/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.instructions {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 20px;
}
.components-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.message-input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.message-input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.cell {
  position: relative;
  display: flex;
  flex-direction:  row; /* Stack button and content vertically */
  /* align-items: center; */
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #007bff;
}

.copy-button {
  position: relative;
  /* top: 0;
  right: 0; */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  max-width: 100px;
}

.copy-button:hover {
  background-color: #0056b3;
}

.contact-actions {
  text-align: center;
  margin: 20px 0;
}

.save-to-contacts {
  display: inline-block;
  padding: 5px 5px;
  background-color: #00ff9d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.save-to-contacts:hover {
  background-color: #b30006;
}

.enjoy-image {
  width: 50%;
  max-width: 200px;
  margin: 20px 0;
  border-radius: 25px;
}